@charset "utf-8";
ul{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.box{
    display: flex;
    gap: 3%;
}


.box img{
    width: 31.33%;
}

@media screen and (max-width : 767px) {
   ul{
    flex-direction: column;
   } 
   body{
    font-size: 20px;
   }
}